nav#nav-bar {
/*  position: fixed;*/
  background-color: #00a087;
  height: 80px;
  width: 100%;
  color: #e8fdff;
  padding-left: 1em;
  padding-right: 1em;
}

.header {
  line-height: 2.5em;
  font-size: 2em;
  float:left;
}

.logo {
  height: 80px;
  width: 80px;
  float: left;
  }

.compose{
  height: 50px;
  width: 90px;
  float: right;
  margin-top: 1em;
  border-radius: 10px;
  opacity: 0.5;
}

.compose:hover{
  opacity: 1;
}