.new-tweet{
  display:none;
  background-color: lightgrey;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  border-radius: 10px;
  padding-right: 1em;
  padding-left: 1em;
}

textarea{
  width: 92%;
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px black solid;
}

span.counter{
  padding-right: 1em;
  float:right;
}

h2{
  padding: 5px;
  border-bottom: 1px black solid;
}

.nullError{
  display: none;
  border: 1px solid;
  margin: 10px 0px;
  padding: 5px 2px 5px 10px;
  background position: center;
  background-color: #FFBABA;
  background-image: "/images/red-box.png";
  border-radius: 6px;
}

.longError{
  display: none;
  border: 1px solid;
  margin: 10px 0px;
  padding: 5px 2px 5px 10px;
  background position: center;
  background-color: #FFBABA;
  background-image: "/images/red-box.png";
  border-radius: 6px;
}

.successMessage{
  display: none;
  border: 1px solid;
  margin: 10px 0px;
  padding: 5px 2px 5px 10px;
  background position: center;
  background-color: #DFF2BF;
  background-image: "/images/green-box.png";
  border-radius: 6px;
}