.tweet header{
  height: 80px;
  background: lightgrey;
  padding: 1em 1em 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tweet header h3{
  float:left;
  margin: 0 8px;
}

.tweet header p{
  float:right;
  margin: 0;
}

.name {
  padding-left: 0.3em;
  font-size: 130%;
  font-weight: bold:
}

.userHandle{
  float: right;
  font-size: 80%;
}

.avatar{
  display: inline-block;
  float: left;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.hiddenIcon{
  display: inline-block;
  height: 20px;
  width: 20px;
  float: right;
  margin-left:3px;
  opacity: 0;
}

.tweetContent{
  padding: 1em;
  word-break: break-word;
}

.tweet{
  border: 1px black solid;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  border-radius: 10px;
}

.content {
  padding: 1em;
}

.tweet{
  opacity: 0.7;
}

.tweet:hover{
  opacity: 1;
}

.tweet:hover .hiddenIcon{
  opacity: 1;
}

.tweet footer{
  border-top: 0.5px black solid;
  width: 100%;
  padding: 0.5em 1em;
}
